<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layui/layui.js"></script>
    <script src="~/js/echarts.min.js"></script>
    <script src="~/js/dataTool.min.js"></script>
    @RenderSection("Styles", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
<script>

</script>

