@{
    ViewBag.Title = "EditAsync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="formBody">
    <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 50px 50px 0 0;">
        <div class="layui-form-item">
            <label class="layui-form-label">Password</label>
            <div class="layui-input-block" style="padding-top: 5px;">
                <input type="password" id="sourcePassword" name="sourcePassword" placeholder="Please Enter Password" style="width:100%" lay-verify="required" autocomplete="new-password" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">New Password</label>
            <div class="layui-input-block" style="padding-top: 5px;">
                <input type="password" id="aimPassowrd" name="aimPassowrd" style="width:100%" lay-verify="required" placeholder="Please Enter New Password" autocomplete="new-password" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="Confirm">
        </div>
    </div>
</div>
<script>
    $(function () {
        layui.use('form', function () {
            var form = layui.form;
        
        });
    })
</script>
